body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: hidden;
    background: #fff;
}
#container {
    cursor: url(../image/pointer_cursor.ico), default;
}
#loadingPage {
    background: url(../image/loading2.jpg) no-repeat center top;
    background-size: cover;
}
#loadingPage .infoBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
}
#loadingPage .infoBox .loader {
  position: relative;
  width: 30px;
  height: 24px;
  padding-left: 0%;
  background: #5d8dbd;
  border-radius: 0 12px 12px 0;
  -webkit-animation: brush 6s infinite linear;
  animation: brush 6s infinite linear;
}
#loadingPage .infoBox .loader img {
    position: absolute;
    top: 3px;
    right: -30px;
}
@-webkit-keyframes brush {
  0% { padding-left: 0%; }
  100% { padding-left: 100%;}
}
 
@keyframes brush {
  0% { padding-left: 0%; } 
  100% { padding-left: 100%; }
}
#loadingPage .infoBox .info {
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
}

#chapitre{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #5d8dbd;
    text-align: center;
    cursor: url(../image/menu_cursor.ico), default;
}

#tanks {
    position: absolute;
    top: 25%;
    left: 1%;
    width: 5%;
}
#tanks .tank {
    display: none;
}
#tanks .tank .count {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
}
#tanks .tank .tube {
    position: relative;
}
#tanks .tube .full{
    width: 100%;
    display: block;
}
#tanks .tube .left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: height 0.1s;
}
#tanks .tube .dec{
    width: 240%;
    position: absolute;
    top: -20%;
    left: -20px;
}

#brushes {
    position: absolute;
    top: 0;
    left: 20%;
    height: 90px;
    overflow: hidden;
}
#brushes .brush{
    float: left;
    height: 100%;
}
#brushes .brush img{
    height: 100%;
}

#button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18%;
}
#button img{
    width: 100%;
}
#map{
    height: 100%;
}
#chapitre .box {
    position: relative;
    display: inline-block;
    height: 100%;
}
#chapitre .point{
    position: absolute;
    top: 44%;
    left: 11%;
    height: 6%;
    cursor: url(../image/pointer_cursor.ico), default;
}

@-webkit-keyframes jump {
    0% {top: 32%;}
    100% {top: 34%;}
}
#chapitre .arrow{
    position: absolute;
    top: 32%;
    left: 11%;
    height: 10%;
    -webkit-animation: jump 1s infinite;
}
