body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: hidden;
    background: #fff;
}
#container {
    cursor: url(../image/menu_cursor.ico), default;
}
#container canvas {
    cursor: url(../image/cursor_blue.ico), default;
}
#loadingPage {
    background: #fff url(../image/loading.jpg) no-repeat center top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#loadingPage #start {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin-left: -100px;
    margin-top: -100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.8s;
    font-size: 30px;
    color: #333;
    text-align: center;
}
#loadingPage #start:hover {
    background: rgba(255, 255, 255, 0.7);
}
#loadingPage .infoBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
}
#loadingPage .infoBox .loader {
  position: relative;
  width: 30px;
  height: 24px;
  padding-left: 0%;
  background: #5d8dbd;
  border-radius: 0 12px 12px 0;
  transition: padding-left 0.5s;
  -webkit-animation: brush 6s infinite linear;
  animation: brush 6s infinite linear;
}
#loadingPage .infoBox .loader img {
    position: absolute;
    top: 3px;
    right: -30px;
}
@-webkit-keyframes brush {
  0% { padding-left: 0%; }
  100% { padding-left: 100%;}
}
@keyframes brush {
  0% { padding-left: 0%; } 
  100% { padding-left: 100%; }
}
#loadingPage .infoBox .info {
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
}

#tanks {
    position: absolute;
    top: 18%;
    left: 1%;
    width: 5%;
}
#tanks .tank {
    display: none;
}
#tanks .tank .count {
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 3em;
    z-index: 1;
}
#tanks .tank .tube {
    position: relative;
}
#tanks .tube .full{
    width: 100%;
    display: block;
}
#tanks .tube .left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: height 0.1s;
}
#tanks .tube .dec{
    width: 240%;
    position: absolute;
    top: -20%;
    left: -20px;
}
#brushes {
    position: absolute;
    top: 0;
    left: 20%;
    height: 90px;
    overflow: hidden;
}
#brushes .brush{
    position: relative;
    float: left;
    height: 100%;
}
#brushes .brush img{
    height: 100%;
}
#brushes .brush .hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    display: none;
}
#brushes .brush:hover .hover {
    display: block;
}
#button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 18%;
}
#button img{
    width: 100%;
    height: 100%;
    display: block;
}
#button .hover, #button .clicked {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#button:hover .hover {
    display: block;
}
#map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #5d8dbd;
    text-align: center;
}
#map .box {
    position: relative;
    display: inline-block;
    height: 100%;
}
#map .box .map {
    height: 100%;
}
#map .box .point{
    position: absolute;
    height: 6%;
}
#map .box .point img {
    width: 100%;
    height: 100%;
}
#map .box .point .hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
#map .box .point:hover .hover {
    display: block;
}
#map .box .arrow{
    position: absolute;
    height: 10%;
    -webkit-animation: jump 1s infinite;
}
#map .box .arrow img {
    height: 100%;
}
@-webkit-keyframes jump {
    0% {margin-top: 0;}
    100% {margin-top: 16px;}
}
#result {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;    
}
#result .defeat, #result .victory{
    display: none;
    height: 100%;
    position: relative;
}
#result img {
    height: 100%;
}
#result .back {
    position: absolute;
    bottom: 9%;
    right: 0;
    width: 22%;
    height: 9%;
    background: url(../image/back.png);
    background-size: cover;
}
#result .restart {
    position: absolute;
    bottom: 20%;
    right: 0;
    width: 42%;
    height: 9%;
    background: url(../image/restart.png);
    background-size: cover;
}
#result .continue {
    position: absolute;
    bottom: 20%;
    right: 0;
    width: 42%;
    height: 9%;
    background: url(../image/continue.png);
    background-size: cover;
}
#result .back:hover, #result .restart:hover, #result .continue:hover {
    -webkit-animation: rotate 1s infinite;
}
.rotate {
     -webkit-animation: rotate 0.1s infinite;
}
@-webkit-keyframes rotate {
    0% {-webkit-transform:rotate(0);}
    25% {-webkit-transform:rotate(8deg);}
    75% {-webkit-transform:rotate(-8deg);}
    100% {-webkit-transform:rotate(0);}
}