body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    overflow: hidden;
}
#container {
    cursor: url(../image/pointer_cursor.ico), default;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
#loading {
	width: 100%;
	height: 100%;
}
#chapitre{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #5d8dbd;
    text-align: center;
    cursor: url(../image/menu_cursor.ico), default;
}
#paints{
    position: absolute;
    top: 25%;
    left: 1%;
    width: 5%;
}
#paints .dec{
    width: 240%;
    position: absolute;
    top: -20%;
    left: -20px;
    z-index: 2;
}
#paints .cube{
    width: 100%;
}
#paints #left{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

#map{
    height: 100%;
}
#chapitre .box {
    position: relative;
    display: inline-block;
    height: 100%;
}
#chapitre .point{
    position: absolute;
    top: 44%;
    left: 11%;
    height: 6%;
    cursor: url(../image/pointer_cursor.ico), default;
}

@-webkit-keyframes jump {
    0% {top: 32%;}
    100% {top: 34%;}
}
#chapitre .arrow{
    position: absolute;
    top: 32%;
    left: 11%;
    height: 10%;
    -webkit-animation: jump 1s infinite;
}
